[Unit]
Description=Mako - A lightweight Wayland notification daemon
Documentation=man:mako(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env mako

[Install]
WantedBy=sway-session.target
