[Unit]
Description=Redshift - Shift screen to red at night
Documentation=man:redshift(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/redshift
Environment=DISPLAY=:0

[Install]
WantedBy=sway-session.target
