[Unit]
Description=Swaybg - Background manager for Wayland
Documentation=man:swaybg(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/env swaybg -m fill -i %h/pics/wallpapers/current_wallpaper

[Install]
WantedBy=sway-session.target
