# Ignore
out
.vim/bundle
.vim/.netrwhist
.config/*
.local/*
!.local/share
.local/share/*
.mypy_cache/
**/local.*

# Simple unignores
!.config/dircolors
!.config/i3
!.config/i3blocks
!.config/irb
!.config/neofetch
!.config/mako
!.config/redshift
!.config/rofi
!.config/termite
!.config/user-dirs.dirs
!.config/wofi
!.config/youtube-dl
!.config/zathura
!.config/X11
!.config/alacritty
!.config/XCompose
!.config/yt-dlp

# newsboat
!.config/newsboat
.config/newsboat/urls

# aerc
!.config/aerc
.config/aerc/accounts.conf

# tmux
!.config/tmux
.config/tmux/plugins/

# zsh
!.config/zsh
.config/zsh/.zcompdump*
.config/zsh/oh-my-zsh
.config/zsh/*.local

# .desktop-files
!.local/share/mpv-logo.png
!.local/share/applications
.local/share/applications/gog_com*

# mpd
!.config/mpd
.config/mpd/*
!.config/mpd/mpd.conf

# mpd
!.config/mpv
.config/mpv/watch_later

# neovim
!.config/nvim
.config/nvim/.netrwhist

# npm
!.config/npm
.config/npm/_*
.config/npm/*anonymous*

# qutebrowser
!.config/qutebrowser
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/qsettings/QtProject.conf

# qutebrowser greasemonkey scripts
# Specific scripts are excluded via .gitignore in greasemonkey folder
!.local/share/qutebrowser
.local/share/qutebrowser/*
!.local/share/qutebrowser/greasemonkey

# systemd
!.config/systemd
.config/systemd/user/*
!.config/systemd/user/*.target
!.config/systemd/user/*.timer
!.config/systemd/user/*.service

# sway
!.config/sway
.config/sway/test
.config/sway/input
.config/sway/output
!.config/swaylock

# waybar
!.config/waybar
.config/waybar/*
!.config/waybar/config
!.config/waybar/style.css

# Ignore .local/bin with the exception of...
!.local/bin
.local/bin/*
!.local/bin/igdl
!.local/bin/editorrenamer
!.local/bin/integrity_check
!.local/bin/pm
!.local/bin/sway-init
!.local/bin/transadd
!.local/bin/upmirror
!.local/bin/scalevid
!.local/bin/speedtest
!.local/bin/urlhandler
!.local/bin/harden
