# Ignore
.vim/bundle
.vim/.netrwhist
.config/*
.local/*
.mypy_cache/

# Simple unignores
!.config/dircolors
!.config/i3
!.config/i3blocks
!.config/irb
!.config/neofetch
!.config/newsboat
!.config/mako
!.config/redshift
!.config/rofi
!.config/termite
!.config/user-dirs.dirs
!.config/wofi
!.config/youtube-dl
!.config/zathura
!.config/X11

# Tmux
!.config/tmux
.config/tmux/plugins/

# ZSH
!.config/zsh
.config/zsh/.zcompdump
.config/zsh/*.local

# .desktop-files
!.local/share
.local/share/*
!.local/share/applications
.local/share/applications/gog_com*

# MPD
!.config/mpd
.config/mpd/*
!.config/mpd/mpd.conf

# MPV
!.config/mpv
.config/mpv/watch_later

# Neovim
!.config/nvim
.config/nvim/.netrwhist

# NPM
!.config/npm
.config/npm/_*
.config/npm/*anonymous*

# Qutebrowser
!.config/qutebrowser
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/qsettings/QtProject.conf

# Systemd
!.config/systemd
.config/systemd/user/*
!.config/systemd/user/*.target
!.config/systemd/user/*.service

# Sway
!.config/sway
.config/sway/test
.config/sway/input
.config/sway/output
!.config/swaylock

# Ignore .local/bin with the exception of...
!.local/bin
.local/bin/*
!.local/bin/igdl
!.local/bin/editorrenamer
!.local/bin/integrity_check
!.local/bin/pm
!.local/bin/sway-service
!.local/bin/transadd
!.local/bin/upmirror
!.local/bin/scalevid
!.local/bin/speedtest
!.local/bin/urlhandler
