# Ignore
.vim/bundle
.vim/.netrwhist
.config/*
.zsh/.zcompdump
.zsh/modules/private

# Unignore
!.config/i3
!.config/rofi
!.config/termite
!.config/zathura
!.config/newsboat

# Sway
!.config/sway
.config/sway/test

# MPV
!.config/mpv
.config/mpv/watch_later

# Qutebrowser
!.config/qutebrowser
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks
.config/qutebrowser/qsettings/QtProject.conf

# .desktop-files
.local/*
!.local/share
.local/share/*
!.local/share/applications
