[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio (Wayland)
Exec=env _JAVA_AWT_WM_NONREPARENTING=1 JAVA_HOME=/opt/android-studio/jre android-studio %f
Icon=android-studio
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-studio
MimeType=application/x-extension-iml;
