[Desktop Entry]
Name=Bitwarden
Exec=/usr/bin/env bitwarden-desktop %U
Terminal=false
Type=Application
Icon=bitwarden
StartupWMClass=Bitwarden
Categories=Utility;
