[Desktop Entry]
Name=Bitwarden
Exec=env GDK_BACKEND=x11 /usr/bin/env bitwarden %U
Terminal=false
Type=Application
Icon=bitwarden
StartupWMClass=Bitwarden
Categories=Utility;
