[Desktop Entry]
Name=Eclipse (Wayland)
Icon=eclipse
Exec=env GDK_BACKEND=wayland eclipse
Terminal=false
Type=Application
Categories=Development;IDE;Java;
StartupNotify=true
