[Desktop Entry]
Name=Keybase (X11)
Exec=env GDK_BACKEND=x11 NIX_SKIP_KEYBASE_CHECKS=1 keybase-gui
Icon=keybase
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
MimeType=x-scheme-handler/web+stellar;x-scheme-handler/keybase;
