[Desktop Entry]
Type=Application
Name=LXAppearance
Keywords=windows;preferences;settings;theme;style;appearance;
Icon=preferences-desktop-theme
Exec=env lxappearance
NotShowIn=GNOME;KDE;XFCE;MATE;
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
