[Desktop Entry]
Name=OpenRA (Tiberian Dawn)
Type=Application
Icon=openra-cnc
Exec=env openra-cnc %U
Terminal=false
Categories=Game;StrategyGame;
MimeType=x-scheme-handler/openra-cnc-release-20190314;
