[Desktop Entry]
Name=Qutebrowser (x11)
Icon=qutebrowser
Type=Application
Exec=env XDG_SESSION_TYPE=x11 qutebrowser %u
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/qute;
Actions=new-window;preferences;

[Desktop Action new-window]
Exec=env XDG_SESSION_TYPE=x11 qutebrowser

[Desktop Action preferences]
Exec=env XDG_SESSION_TYPE=x11 qutebrowser "qute://settings"
